@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager
<ul class="nvabar-nav">
    @if (signInManager.IsSignedIn(User))
    {
       <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
            <a class="dropdown-item" asp-action="LogOut" asp-controller="Account">Logout</a>

                </li>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>